<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>servlets.AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>servlets.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>servlets.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlets.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setting</servlet-name>
        <servlet-class>servlets.setting2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profiles</servlet-name>
        <servlet-class>servlets.profiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allListing</servlet-name>
        <servlet-class>servlets.allListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>servlets.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPost</servlet-name>
        <servlet-class>servlets.editPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setting_profile</servlet-name>
        <servlet-class>servlets.setting_profile</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setting</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profiles</servlet-name>
        <url-pattern>/profiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allListing</servlet-name>
        <url-pattern>/allListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPost</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setting_profile</servlet-name>
        <url-pattern>/setting_profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
   
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>-->
</web-app>
